<!--INICIO do card-->
    <div class="panel border-0 mb-3 text-white">
      <!-- INICIO de corpo do card -->
      <div class="panel-body" [ngStyle]="{'width': header.width, 'height': header.height}">
        <!-- INICIO do titulo -->
        <div class="panel-title mb-3">
          <b>VISÃO GERAL</b>
          <span class="ms-2" [ngStyle]="{'color':'white'}"><i class="fa fa-info-circle" triggers="mouseenter:mouseleave" popoverTitle="Sales by social source" placement="top" ngbPopover="Total online store sales that came from a social referrer source."></i></span>
        </div>
        <!-- FIM do titulo -->
        <!-- BEGIN sales -->
        <h3 class="mb-10px"></h3>
        <!-- END sales -->
        <!-- BEGIN percentage -->
        <div class="text-gray-500 mb-1px"><i class=""></i> </div>
        <!-- END percentage -->
      </div>
      <!-- END card-body -->
      <!-- BEGIN widget-list -->
      <div class="panel-content widget-list rounded-bottom" [ngStyle]="{'height': body.height, 'width': body.width}">
        <div class="panel-content-list">
          <h3 class="panel-list-title">{{data.nome}}</h3>
          <div class="panel-content-grid">
            <div class="content-divider-col1">
              <h4>
                <span>{{titulo.classificacao}}</span>
              </h4>
              <div class="panel-list-item">
                <p>{{list_titulos.cnpj}}</p>
                <p>{{list_titulos.cnpj_matriz}}</p>
                <p>{{list_titulos.simples}}</p>
                <p>{{list_titulos.simei}}</p>
              </div> 
            </div>
            <div class="content-divider-col2">
              <h4>
                <span>{{titulo.atividade}}</span>
              </h4>
              <div class="panel-list-item">
                <p><span>{{data.cnpj}}</span></p>
                <p><span>{{data.matriz}}</span></p>
                <p><span>{{data.simples}}</span></p>
                <p><span>{{data.simei}}</span></p>
              </div> 
            </div>  
          </div>                                     
        </div>
      <!-- END widget-list -->
      </div>
</div>