<div class="btn-selects" [ngStyle]="{'display':'flex',
                                     'flex-direction':'row'}">
    <div class="return-button">
        <button (click)="handleClick()" [ngStyle]="{'background-color':'smoke',
                                                    'color':'darkgray',
                                                    'border':'none',
                                                    'border-radius':'5px',
                                                    'width':'35px',
                                                    'height':'35px',
                                                    'margin-right':'8px'}">
            <i class="fa fa-reply" aria-hidden="true" [ngStyle]="{'font-size':'13px'}"></i>
        </button>   
    </div>
    <div class="update-button">
        <button routerLink="rf/parcelamentos" [ngStyle]="{'background-color':'rgb(112, 128, 144)',
                            'color':'darkgray',
                            'border':'none',
                            'border-radius':'5px',
                            'width':'35px',
                            'height':'35px'}">
            <i class="fa fa-refresh" aria-hidden="true" [ngStyle]="{'font-size':'13px'}"></i>
        </button>   
    </div>
</div>
<div class="table-responsive mb-3" >
    <table class="table table-hover table-panel text-nowrap align-middle mb-0">
        <thead>
            <tr>
                <th></th>
                <th>{{titulosTable.identificador}}</th>
                <th>{{titulosTable.data}}</th>
                <th>{{titulosTable.cliente}}</th>
                <th>{{titulosTable.valor}}</th>
                <th>{{titulosTable.status}}</th>
                <th>{{titulosTable.preenchimento}}</th>
                <th>{{titulosTable.items}}</th>
                <th>{{titulosTable.servico}}</th>
                <th>{{titulosTable.actions}}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let info of tables" [ngStyle]="{'color':'black'}" routerLink="/rf/parcelamentos/detalhes">
                <td class="w-10px align-middle">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="product1">
                        <label class="form-check-label" for="product1"></label>
                    </div>
                </td>
                <td><a routerLink="/extra/order-details" class="fw-bold">#{{info.identificador}}</a></td>
                <td>{{info.data}}</td>
                <td>{{info.cliente}}</td>
                <td>R${{info.valor}}</td>
                <td><span [ngClass]="{'pago': info.status == 'PAGO', 'nao-pago': info.status == 'NÃO PAGO'}"><i class="fa fa-circle fs-9px fa-fw me-5px"></i> {{info.status}}</span></td>
                <td><span [ngClass]=""><i class="fa fa-circle fs-9px fa-fw me-5px"></i> {{info.preenchimento}}</span></td>
                <td>{{info.items}}</td>
                <td>{{info.servico}}</td>
                <td>
                  <div class="btn-actions" [ngStyle]="{'display':'flex', 'flex-direction':'row'}">   
                    <button [ngStyle]="{'height':'20px','width':'20px','font-size':'10px','background-color':'smoke','border':'none','border-radius':'8px'}">
                        <i class="fa fa-print" aria-hidden="true"></i>
                    </button>
                    <button [ngStyle]="{'height':'20px','width':'20px','font-size':'10px','background-color':'smoke','border':'none','border-radius':'8px'}">
                        <i class="fa fa-share-alt" aria-hidden="true"></i>
                    </button>
                  </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>