.upload-input {
    position: relative;
    display: inline-block;
    cursor: pointer;
    padding: 10px 20px;
    background-color: #f2f2f2;
    border: none;
    border-radius: 6px;
    color: #333;
  }
  
  .upload-input input[type="file"] {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    cursor: pointer;
    height: 100%;
    width: 100%;
  }