.menu-dropdown {
    position: relative;
    display: inline-block;
    padding-bottom: 100px;
    transition: .3s;
}
  
.menu-icon {
    background-color:  rgba(70, 130, 180, .16);
    border: none;
    border-radius: 20px;
    cursor: pointer;
    width: 20px;
    height: fit-content;
    transition: .4s;
}

.menu-icon:hover {
    border-radius: 20px;
    width: 20px;
    height: fit-content;
    background-color: whitesmoke;
}
  
.dropdown-content {
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 9999;
    background-color: #f9f9f9;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px;
}
  
.dropdown-content button {
    background: none;
    border: none;
    cursor: pointer;
    transition: .15s;
}
  
.dropdown-content button:hover {
    text-decoration: underline;
}
  
.menu-dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
}