<!--Render main-card-->
<ng-template #cardsBody>
    <div class="card-title" *ngIf="cards.nome">
        <h5>{{cards.nome}}</h5>
     </div>
    <div class="card-content" *ngIf="cards.cnpj || cards.cpf ">
        <span *ngIf="cards.cnpj != null; else elseBlock">{{cards.cnpj}}</span>
        <span #elseBlock>{{cards.cpf}}</span>
    </div>
    <div class="card-certify" *ngIf="cards.certificado">
        <span>{{cards.certificado}}</span>
    </div>
    <div class="card-data" *ngIf="cards.data">
        <span>{{cards.data}}</span>
    </div>
</ng-template>

<div class="card-body" [ngStyle]="{'width':'300px'}">
    <ng-container class="card-items" *ngTemplateOutlet="cardsBody"></ng-container>
</div>
