 .card {
       border: none;
       flex: 1 1 auto;
       padding: 0.9375rem 0.9375rem;
       color: var(--bs-card-color);
       
    .card-body{
        width: rem(180px);
        height: rem(100px);
        border: none;
        border-radius: rem(5px);
        background-color: $component-bg-smoke;
        font-family: system-ui;
        margin: 10px;
        margin-bottom: 0px;
        margin-top: 0px;
        color: $black;
        font-weight: 700;
        align-items: $app-card-content-position;
        justify-content: $app-card-content-position;
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-clip: border-box;

        & .card-items{

            align-items: $app-card-content-position;
            justify-content: $app-card-content-position;
            padding: rem(6px);

            & .card-data{
                padding: 0px;
                margin: 0px;
                align-items: baseline;
                color: $black;

                & span {
                    font-size: $font-size-sm;
                    font-weight: 600;
                }

            }

            & .card-title{
                padding: 0px;
                margin: 0px;
                align-items: baseline;
                color: $dark-blue;

                & h5 {
                    font-weight: 700;
                    font-size: medium;
                }

            }

            & .card-content{
                padding: 0px;
                margin: 0px;
                align-items: baseline;
                color: $black;

                & p {

                    font-size: $font-size-sm;
                    font-weight: 600;
                }
            }

        }
    }
}    