<!--INICIO do card-->
<div class="card border-0 mb-3 text-white" [ngStyle]="{'width': body.width}">
    <!-- INICIO de corpo do card -->
    <div class="card-body" [ngStyle]="{'width': header.width, 'height': header.height}">
      <!-- INICIO do titulo -->
      <div class="card-title mb-3">
        <b>AGENDAMENTOS</b>
        <span class="ms-2" [ngStyle]="{'color':'white'}"><i class="fa fa-info-circle" triggers="mouseenter:mouseleave" popoverTitle="Sales by social source" placement="top" ngbPopover="Total online store sales that came from a social referrer source."></i></span>
      </div>
      <!-- FIM do titulo -->
      <!-- BEGIN sales -->
      <h3 class="mb-10px"></h3>
      <!-- END sales -->
      <!-- BEGIN percentage -->
      <div class="text-gray-500 mb-1px"><i class=""></i> </div>
      <!-- END percentage -->
    </div>
    <!-- END card-body -->
    <!-- BEGIN widget-list -->
    <div class="card-content widget-list rounded-bottom" [ngStyle]="{'height': body.height, 'width': body.width}">
      
    <!-- END widget-list -->
    </div>
</div>