<!--RENDER card body-->
<ng-template #cardsBody let-card="card">
    <div class="card-data" *ngIf="card.data">
        <span>{{card.data}}</span>
    </div>
    <div class="card-title" *ngIf="card.nome">
        <h5>{{card.nome}}</h5>
    </div>
    <div class="card-content" *ngIf="card.cnpj">
        <p>{{card.cnpj}}</p>
    </div>
</ng-template>

<!--INICIO card body-->
<div class="card-body" *ngFor="let card of cards" [ngStyle]="{'border':'none',
                                                              'border-radius':'8px',
                                                              'background-color':'rgba(70, 130, 180, .16)',
                                                              'color':'black',
                                                              'font-family':'Helvetica',
                                                              'font-weight':'700',
                                                              'padding':'9px',
                                                              'margin':'7px',
                                                              'height':'100px',
                                                              'width':'180px',
                                                              'align-items':'center',
                                                              'justify-content':'center',
                                                              'font-size':'11px'}">
    <ng-container class="card-content" *ngTemplateOutlet="cardsBody; context: {card: card}"></ng-container>
</div>
