<div class="d-flex align-items-center">
	<div>
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="javascript:;">Home</a></li>
			<li class="breadcrumb-item"><a href="javascript:;">Extra</a></li>
			<li class="breadcrumb-item active">Detalhamento</li>
		</ol>
		<h1 class="page-header">
			Detalhamento
		</h1>
	</div>
</div>
<div class="mb-3 d-md-flex fw-bold">
	<div class="mt-md-0 mt-2"><a href="javascript:;" class="text-decoration-none text-dark"><i class="fa fa-print fa-fw me-1 text-dark text-opacity-50"></i> Print</a></div>
	<div class="ms-md-4 mt-md-0 mt-2"><a href="javascript:;" class="text-decoration-none text-dark"><i class="fa fa-boxes-stacked fa-fw me-1 text-dark text-opacity-50"></i> Restock items</a></div>
	<div class="ms-md-4 mt-md-0 mt-2"><a href="javascript:;" class="text-decoration-none text-dark"><i class="fa fa-pen fa-fw me-1 text-dark text-opacity-50"></i> Edit</a></div>
	<div class="ms-md-4 mt-md-0 mt-2 dropdown-toggle">
		<a href="javascript:;" data-bs-toggle="dropdown" class="text-decoration-none text-dark text-opacity-75"><i class="fa fa-cog fa-fw me-1 text-dark text-opacity-50"></i> More Actions <b class="caret"></b></a>
		<div class="dropdown-menu">
			<a class="dropdown-item" href="javascript:;">Action</a>
			<a class="dropdown-item" href="javascript:;">Another action</a>
			<a class="dropdown-item" href="javascript:;">Something else here</a>
			<div role="separator" class="dropdown-divider"></div>
			<a class="dropdown-item" href="javascript:;">Separated link</a>
		</div>
	</div>
</div>
<div class="btn-selects" [ngStyle]="{'display':'flex',
                                     'flex-direction':'row',
									 'margin-bottom':'15px'}">
    <div class="return-button">
        <button routerLink="/rf/parcelamentos" [ngStyle]="{'background-color':'smoke',
                                                    'color':'darkgray',
                                                    'border':'none',
                                                    'border-radius':'5px',
                                                    'width':'35px',
                                                    'height':'35px',
                                                    'margin-right':'8px'}">
            <i class="fa fa-reply" aria-hidden="true" [ngStyle]="{'font-size':'13px'}"></i>
        </button>   
    </div>
    <div class="update-button">
        <button routerLink="rf/parcelamentos/detalhamento" [ngStyle]="{'background-color':'rgb(112, 128, 144)',
                            'color':'darkgray',
                            'border':'none',
                            'border-radius':'5px',
                            'width':'35px',
                            'height':'35px'}">
            <i class="fa fa-refresh" aria-hidden="true" [ngStyle]="{'font-size':'13px'}"></i>
        </button>   
    </div>
</div>
<div class="row gx-4">
	<div class="col-lg-8">
		<div class="card border-0 mb-4">
			<div class="card-header bg-none p-3 h6 m-0 d-flex align-items-center" [ngStyle]="{'color':'black','font-weight':'700','font-size':'14px'}">
				<i class="fa fa-id-card" aria-hidden="true"></i>
				<span> Steel Instalações </span>
				<a href="javascript:;" class="ms-auto text-decoration-none text-gray-500"><i class=""></i></a>
			</div>
			<div class="panel-body p-3 text-dark fw-bold">
				<div class="row align-items-center">
					<div class="col-lg-8 d-flex align-items-center">
						<div class="h-65px w-65px d-flex align-items-center justify-content-center position-relative">
							<img src="" class="mw-100 mh-100" />
							<!--<span class="w-20px h-20px p-0 d-flex align-items-center justify-content-center badge bg-primary text-white position-absolute end-0 top-0 fw-bold fs-12px rounded-pill mt-n2 me-n2"></span>-->
						</div>
						<div class="ps-3 flex-1">
							<div><a href="javascript:;" class="text-decoration-none text-dark"></a></div>
							<div class="text-dark text-opacity-50 small fw-bold">
								
							</div>
						</div>
					</div>
					<div class="col-lg-2 m-0 ps-lg-3">
						
					</div>
					<div class="col-lg-2 text-dark fw-bold m-0 text-end">
						
					</div>
				</div>
				<hr class="my-4" />
				<div class="row">
					<div class="col-lg-8 d-flex align-items-center">
						<div class="h-65px w-65px d-flex align-items-center justify-content-center position-relative">
							<img src="" class="mw-100 mh-100" />
							<!--<span class="w-20px h-20px p-0 d-flex align-items-center justify-content-center badge bg-primary text-white position-absolute end-0 top-0 fw-bold fs-12px rounded-pill mt-n2 me-n2"></span>-->
						</div>
						<div class="ps-3 flex-1">
							<div class=""><a href="javascript:;" class="text-decoration-none text-dark"></a></div>
							<div class="text-dark text-opacity-50 small fw-bold">
								
							</div>
						</div>
					</div>
					<div class="col-lg-2 m-0 ps-lg-3">
						
					</div>
					<div class="col-lg-2 text-dark fw-bold m-0 text-end">
						
					</div>
				</div>
				<hr class="my-4" />
				<div class="row">
					<div class="col-lg-8 d-flex align-items-center">
						<div class="h-65px w-65px d-flex align-items-center justify-content-center position-relative">
							<img src="" class="mw-100 mh-100" />
							<!--<span class="w-20px h-20px p-0 d-flex align-items-center justify-content-center badge bg-primary text-white position-absolute end-0 top-0 fw-bold fs-12px rounded-pill mt-n2 me-n2"></span>-->
						</div>
						<div class="ps-3 flex-1">
							<div class=""><a href="javascript:;" class="text-decoration-none text-dark"></a></div>
							<div class="text-dark text-opacity-50 small fw-bold">
								
							</div>
						</div>
					</div>
					<div class="col-lg-2 m-0 ps-lg-3">
						
					</div>
					<div class="col-lg-2 text-dark fw-bold m-0 text-end">
						
					</div>
				</div>
			</div>
			<div class="card-footer bg-none d-flex p-3">
				<!--<a href="javascript:;" class="btn btn-default ms-auto"><b class="caret"></b></a>
				<a href="javascript:;" class="btn btn-primary ms-2"></a>-->
			</div>
		</div>
		<div class="card border-0">
			<div class="card-header bg-none p-3 h6 m-0 d-flex align-items-center">
				<!--<i class="fa fa-credit-card fa-lg me-2 text-gray text-opacity-50"></i>-->
					<span>Memorando</span>
				<!--<a href="javascript:;" class="ms-auto text-decoration-none text-gray-500"><i class="fab fa-paypal me-1 fa-lg"></i></a>-->
			</div>
			<div class="panel-body">
				<table class="table table-borderless table-sm fw-bold m-0">
					<tbody>
						<tr>
							<td class="w-150px"></td>
							<td></td>
							<td class="text-end"></td>
						</tr>
						<tr>
							<td></td>
							<td></td>
							<td class="text-end"></td>
						</tr>
						<tr>
							<td></td>
							<td><u class="text-success"></u></td>
							<td class="text-end"></td>
						</tr>
						<tr>
							<td class="pb-2" colspan="2"><b></b></td>
							<td class="text-end pb-2 text-decoration-underline"><b></b></td>
						</tr>
						<tr>
							<td colspan="3">
								<hr class="m-0" />
							</td>
						</tr>
						<tr>
							<td class="pt-2 pb-2" nowrap>
								
							</td>
							<td class="pt-2 pb-2">
								<a href="javascript:;" class="text-primary text-decoration-none"></a>
							</td>
							<td class="pt-2 pb-2 text-end"></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="card-footer bg-none d-flex p-3">
				<!--<a href="javascript:;" class="btn btn-primary ms-auto"></a>-->
			</div>
		</div>
	</div>
	<div class="col-lg-4">
		<div class="card border-0 mb-4">
			<div class="card-header bg-none p-3 h6 h-400px text-lg m-0 d-flex align-items-center">
				<span></span>
				<a href="javascript:;" class="ms-auto text-decoration-none text-gray-500"></a>
			</div>
			<div class="panel-body">
				
			</div>
		</div>
		<!--
		<div class="card border-0 mb-4">
			<div class="card-header bg-none p-3 h6 m-0 d-flex align-items-center">
				
				<a href="javascript:;" class="ms-auto text-decoration-none text-gray-500"></a>
			</div>
			<div class="card-body fw-bold">
				<div class="d-flex align-items-center">
					<a href="javascript:;" class="d-block"><img src="" width="45" class="rounded-pill" /></a>
					<div class="flex-1 ps-3">
						<a href="javascript:;" class="d-block text-decoration-none"></a>
						
					</div>
				</div>
			</div>
		</div>
		<div class="card border-0 mb-4">
			<div class="card-header bg-none p-3 h6 m-0 d-flex align-items-center">
				
				<a href="javascript:;" class="ms-auto text-decoration-none text-gray-500"></a>
			</div>
			<div class="panel-body fw-bold">
				<i class="fa fa-phone fa-fw"></i>9<br /><br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<a href="javascript:;" class="text-decoration-none text-gray-600"><i class="fa fa-location-dot fa-fw"></i></a>
			</div>
		</div>
		<div class="card border-0 mb-4">
			<div class="card-header bg-none p-3 h6 m-0 d-flex align-items-center">
				
				<a href="javascript:;" class="ms-auto text-decoration-none text-gray-500"></a>
			</div>
			<div class="card-body fw-bold">
				<br />
				<br />
				<br />
				<br />
			</div>
		</div>
		-->
	</div>
</div>